.root-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.message-view-container {
    display: flex;
    flex-direction: column;
}

.peer-list-view {
    background-color: lightslategray;
    border-radius: 20px;
    padding: 20px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.user-card {
    display: flex;
    flex-direction: row;

    margin-top: 10px;
    margin-bottom: 10px;
}

.user-card-text {
    display: flex;
    flex-direction: column;
}

.user-card-peerid {
    color: lightgray;
}

.author-name {
    color: darkslategray;
    padding: 10px;
}

.self-message .author-name {
    color: lightgray;
}

.message-bubble {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.self-message {
    background-color: dodgerblue;
    color: snow;
    margin-left: 200px;
    align-self: flex-end;
}

.peer-message {
    background-color: lightgray;
    align-self: flex-start;
}

.message-list-view {
    padding: 40px;
    display: flex;
    flex-grow: 2;
    max-width: 600px;
    flex-direction: column;
    justify-content: space-evenly;
}

.recording-button {
    width: 35px;
    height: 35px;
    background-color: red;
    border: 0;
    border-radius: 35px;
    margin: 18px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
}

.state-not-recording {
    background-color: darkred;
}

.state-recording {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse{
    0%{
        box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
}